body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.top-right-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.top-right-button button {
  background-color: transparent;
  color: #333;
  padding: 8px 16px;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.top-right-button button:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

.contact-button {
  background-color: transparent;
  color: #333;
  padding: 12px 24px;
  font-size: 1.2rem;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: rgba(51, 51, 51, 0.1);
}

.about-page, .contact-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.about-content, .contact-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: left;
  max-width: 600px;
  position: relative;
}

.about-content p {
  outline: none;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-btn img {
  width: 20px;
  height: 20px;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  transition: transform 0.5s ease;
}

.header-title {
  margin: 0;
  transition: font-size 0.5s ease;
}

.header-title.shrink {
  font-size: 24px;
}

.contact-button {
  transition: opacity 0.5s ease;
}

.contact-button.hide {
  opacity: 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  margin-top: 150px; /* Adjust this value to create space for the fixed header */
  margin-bottom: 50px;
  flex: 1;
}

.card {
  width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.card.in-view {
  opacity: 1;
  transform: translateY(0);
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .header-container {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .top-right-button {
    order: 1;
    margin-right: auto;
  }

  .header-title {
    order: 2;
    margin-top: 10px;
  }

  .contact-button {
    order: 3;
    margin-left: auto;
  }
}

.header-title {
  transition: transform 0.5s ease, font-size 0.5s ease;
}

.header-title.shrink {
  transform: translateY(-50%);
  font-size: 24px;
}

.contact-button {
  transition: opacity 0.5s ease;
}

.contact-button.hide {
  opacity: 0;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: left;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} 